@import '~normalize.css/normalize.css';
@import './base';
@import './fonts';
@import './webcam';

// custom styles

main {
  max-width: 1280px;
  margin: 0 auto;
  border: 1px dotted greenyellow;
  height: 100vh;
  position: relative;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 999;

  .container {
    padding-left: 35px;
    background-image: url('../images/modal_bg.jpg');
    background-position: 55% 55%;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 120px);
  }

  &__footer {
    height: 120px;
    width: 100%;
    background: rgb(71, 113, 60);
    background: linear-gradient(0deg, rgba(71, 113, 60, 1) 15%, rgba(0, 0, 0, 1) 70%);
  }

  p {
    font-size: 1.25rem;
    max-width: 260px;
    margin-bottom: 44px;
  }

  &__title {
    padding-top: 100px;

    h1 {
      font-size: 68px;
      font-weight: 400;
      margin: 0;
      span {
        color: #456e3b;
      }
    }
  }
  &__cta {
    button {
      background: none;
      border: 2px solid #fff;
      border-radius: 10px;
      height: 50px;
      min-width: 217px;
      color: #fefefe;
      text-shadow: none;
      cursor: pointer;
      font-size: 18px;
      width: 215px;
      height: 50px;
    }
  }
}
