#vid_container {
  position: fixed;
  top: 0;
  left: 0;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#video_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #111;
}

.notification-audio {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;

  &.animation {
    animation: fade-icon 1s 1;
    -webkit-animation: fade-icon 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    -webkit-animation-delay: 5s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
  }

  p {
    margin: 0;
    padding: 0;
    max-width: 102px;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
  }

  .icon {
    width: 34px;

    margin-bottom: 12px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@keyframes fade-icon {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-icon {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#gui_controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  // background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  bottom: 0;

  a {
    text-decoration: none;
  }

  /*  Button style from: 
      https://googlesamples.github.io/web-fundamentals/fundamentals/media/mobile-web-video-playback.html */

  button {
    outline: none;
    border: none;
    display: block;
    opacity: 1;
    padding: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: auto;
    z-index: 2;
    color: #fff;
  }
}

#takePhotoButton {
  width: 90px;
  height: 90px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Cg id='Group_31' data-name='Group 31' transform='translate(-152 -673)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='39' cy='39' r='39' transform='translate(158 679)' fill='%23fff'/%3E%3Cg id='Ellipse_2' data-name='Ellipse 2' transform='translate(152 673)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='45' cy='45' r='45' stroke='none'/%3E%3Ccircle cx='45' cy='45' r='44.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#takePhotoButton:active {
  transform: scale(0.9);
}

#backHome {
  border: 2px solid #fff;
  border-radius: 20px;
  min-width: 114px;
  height: 32px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  button {
    font-size: 0.875rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: #fff;
    background: none;
    border: none;
  }
}

@media screen and (orientation: portrait) {
  /* portrait-specific styles */

  /* video_container (video) doesn't respect height... 
         so we will fill it in completely in portrait mode
      */
  #vid_container {
    width: 100%;
    height: 100%;
  }

  #gui_controls {
    width: 100%;
    height: 20%;
    left: 0;
  }

  #savePhotoButton {
    top: 0;
    left: 0;
    color: white;
  }
}

@media screen and (orientation: landscape) {
  #vid_container {
    width: 80%;
    height: 100%;
  }

  #vid_container.left {
    left: 20%;
  }

  /* we default to right */
  #gui_controls {
    width: 20%;
    height: 100%;
    right: 0;
  }

  /* for the lefties */
  #gui_controls.left {
    left: 0;
  }

  #savePhotoButton {
    left: calc(50% - 32px);
    top: calc(82% - 32px);
  }
}

.photo-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #0e0e0e;

  // transition: all 0.1s ease;
  z-index: 20;
  padding: 0 30px;
  overflow: hidden;

  &.active {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .photo-preview--blurred {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(10px);
    background-position: center;
  }

  #close-icon {
    position: relative;
    top: -10px;
    margin-left: auto;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.828' height='22.828' viewBox='0 0 22.828 22.828'%3E%3Cg id='Group_38' data-name='Group 38' transform='translate(-330.086 -106.086)'%3E%3Cline id='Line_3' data-name='Line 3' x2='20' y2='20' transform='translate(331.5 107.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_4' data-name='Line 4' x2='20' y2='20' transform='translate(351.5 107.5) rotate(90)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  #photo-preview {
    z-index: 30;

    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 30;
    }
  }

  .photo-preview-gui {
    z-index: 40;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    left: 0;

    padding: 0 30px;

    .preview-options {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      &.disable {
        display: none;
        user-select: none;
        opacity: 0;
        height: 0;
        width: 0;
        top: 0;
        right: 0;
      }

      button {
        border: 2px solid #fff;
        border-radius: $button-radius;
        background-color: transparent;
        color: #fff;
        height: 55px;
        width: 50%;
        font-weight: 700;

        a {
          width: 100%;
          height: 100%;
          color: inherit;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:first-of-type {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-of-type {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .safari-options {
      display: none;
      opacity: 0;
      &.active {
        display: flex;
        opacity: 1;
      }

      .safari-svg-container {
        width: 40%;
      }
      .safari-svg {
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 43px;
        height: 57px;
        background-image: url("data:image/svg+xml,%3Csvg id='Group_36' data-name='Group 36' xmlns='http://www.w3.org/2000/svg' width='42.513' height='56.688' viewBox='0 0 42.513 56.688'%3E%3Cpath id='Path_24' data-name='Path 24' d='M58.541,44.971a1.181,1.181,0,0,1-.986-1.827,8.273,8.273,0,0,0-6.93-12.782h0A8.27,8.27,0,0,0,43.38,42.614a1.18,1.18,0,0,1-2.067,1.141,10.628,10.628,0,1,1,18.219.681A1.18,1.18,0,0,1,58.541,44.971Z' transform='translate(-32.915 -28.001)' fill='%23fff'/%3E%3Cpath id='Path_25' data-name='Path 25' d='M76.511,63.524v-5.9a5.468,5.468,0,0,0-1.526-4.377,4.484,4.484,0,0,0-4.66-.771,4.719,4.719,0,0,0-7.48-2.009,4.72,4.72,0,0,0-6.41-1.657V38.724a4.724,4.724,0,0,0-9.448,0V56.6c-.246-.247-.492-.5-.713-.732-1.847-1.926-4.126-4.307-7.085-4.221A6.852,6.852,0,0,0,34.269,54.5a1.242,1.242,0,0,0-.269.757,1.2,1.2,0,0,0,.342.835,29.473,29.473,0,0,1,5.643,9.052l.265.685c1.678,4.4,6.784,17.772,20.91,17.772,8.216,0,12.311-3,14.137-10.344a46.3,46.3,0,0,0,1.216-9.733ZM73,72.688c-1.548,6.235-4.758,8.552-11.844,8.552-12.5,0-17.168-12.232-18.7-16.252-.106-.279-.2-.521-.279-.722a32.875,32.875,0,0,0-5.408-9.009h0a3.979,3.979,0,0,1,2.5-1.252c1.9-.087,3.774,1.907,5.3,3.493a11.734,11.734,0,0,0,2.416,2.136v1.548A2.363,2.363,0,0,1,46.2,62.69a1.182,1.182,0,0,0,1.672,1.67,4.57,4.57,0,0,0,1.473-3.2V38.724a2.362,2.362,0,0,1,4.724,0V55.258a1.181,1.181,0,1,0,2.362,0V52.9a2.362,2.362,0,1,1,4.724,0v2.362a1.181,1.181,0,1,0,2.362,0V54.077a2.362,2.362,0,0,1,4.724,0v2.362a1.181,1.181,0,0,0,2.362,0V55.258c0-.286.306-.472.562-.579a2.167,2.167,0,0,1,2.145.233,3.233,3.233,0,0,1,.836,2.708v5.905h0A43.607,43.607,0,0,1,73,72.688Z' transform='translate(-34 -26.915)' fill='%23fff'/%3E%3C/svg%3E%0A");
      }
      .safari-text {
        border-left: 1px solid #fff;
        padding: 0 20px;
        font-weight: 700;
      }
    }
  }
}
